.woo_alerts_waffs_valid{
    height: 15px;
    border-radius: 10px;
    width: 15px;
    display: inline-block;
    float: left;
    margin: 4px;
    background: green;
}
.woo_alerts_waffs_invalid{
    height: 15px;
    border-radius: 10px;
    width: 15px;
    display: inline-block;
    float: left;
    margin: 4px;
    background: red;
}
.woo_alerts_waffs_isactive{
    height: 15px;
    border-radius: 10px;
    width: 15px;
    display: inline-block;
    float: left;
    margin: 4px;
    background: black;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}